force-app/main/default/flows/Orb_Example.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Orb_Customer</name>
        <label>Create Orb Customer</label>
        <locationX>484</locationX>
        <locationY>384</locationY>
        <actionName>withorb__OrbCreateCustomer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>billingAddress</name>
            <value>
                <elementReference>AddressInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>$Record.Account.Orb_Contact_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>withorb__OrbCreateCustomer</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Orb_Subscription</name>
        <label>Create Orb Subscription</label>
        <locationX>484</locationX>
        <locationY>1200</locationY>
        <actionName>withorb__OrbCreateSubscription</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customerId</name>
            <value>
                <elementReference>Create_Orb_Customer.customer.id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>planId</name>
            <value>
                <elementReference>$Record.Orb_Plan_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>priceOverrides</name>
            <value>
                <elementReference>price_overrides</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>withorb__OrbCreateSubscription</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_to_Override_List</name>
        <label>Add to Override List</label>
        <locationX>572</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>price_overrides</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>price_override</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Override_Prices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Price_Override</name>
        <label>Create Price Override</label>
        <locationX>572</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>price_override.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Override_Prices.Orb_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>price_override.modelType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Override_Prices.Price_type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>price_override.unitConfig.unitAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Override_Prices.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Override_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Address_Input</name>
        <label>Set Customer Address Input</label>
        <locationX>484</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>AddressInput.state</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressInput.city</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressInput.line1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressInput.postalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressInput.country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Orb_Customer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_product_is_overriden</name>
        <label>Check if product is overriden</label>
        <locationX>704</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Create_Override_Prices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_override</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Override_Prices.overridden__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Price_Override</targetReference>
            </connector>
            <label>Is override</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Orb Example {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Orb Example</label>
    <loops>
        <name>Create_Override_Prices</name>
        <label>Create Override Prices</label>
        <locationX>484</locationX>
        <locationY>600</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_product_is_overriden</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Orb_Subscription</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>484</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Override_Prices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>484</locationX>
        <locationY>1308</locationY>
        <inputAssignments>
            <field>withorb__OrbCustomerID__c</field>
            <value>
                <elementReference>Create_Orb_Customer.customer.id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Set_Customer_Address_Input</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AddressInput</name>
        <apexClass>withorb__OrbAddressInput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>price_override</name>
        <apexClass>withorb__OrbPriceOverride</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>price_overrides</name>
        <apexClass>withorb__OrbPriceOverride</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
